/* .footer { */
  /* position:absolute;
  padding: 2px;
   margin: 150px; */
     /* margin: 160px; */
  /* width: 100%;
  height: 100%; */
  /* background-color:rgb(168, 167, 167); */
  /* color: black;
  text-align: center; */
/* } */

.fo_st{
  /* background-color:rgb(15, 15, 15); */
 
   background-color:rgb(168, 167, 167);
}